
.nav1, .nav2, .nav3, .nav4, .nav5, .nav6, .nav7{
    transition: ease-in-out;
}

.nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover, .nav5:hover, .nav6:hover, .nav7:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}

.nav8{
    margin-left: 10vh;
    padding: 1vh;
    border: 2px solid white;
    cursor: pointer;
}